= simple_form_for order, :html => { :class => "form-stacked" } do |f|
  .row
    .span4= f.input :borrowers_name, :input_html => { :class => :span4 }
    .span2= f.input :from, :as => :calendar, :input_html => { :class => :span2 }, :label => t('.from')
    .span2= f.input :due, :as => :calendar, :input_html => { :class => :span2 }, :label => t('.to')
  .row
    .span4= f.input :borrowers_contact, :input_html => { :class => :span4 }
    .span4= f.input :notes, :input_html => { :class => :span4 }
  .row
    .span8
      = f.button :submit, :class => "btn success"
      = link_to t('.cancel'), '#', :class => "btn cancel"


