%h2= @copy.title

.row
  .span8
    = link_to t('.lend_book'), '#', :class => 'btn primary', :id => :lend_copy

= render :partial => 'lend_form', :locals => { :order => @order }
= render :partial => 'lend_with_authentication_form'
= render :partial => 'copy', :object => @copy
