.topbar
  .topbar-inner
    .container-fluid
      %a.brand{:href => "#"}= t('project_name')
      %ul.nav
        %li.active
        %li= link_to t('menu.home'), root_path
        %li= link_to t('menu.books'), books_path
        %li= link_to t('menu.about'), '#'
        %li= link_to t('menu.skg_site'), 'http://skg.uw.edu.pl/', :target => '_blank'
        - if can? :manage, :all
          %li= link_to t('menu.create_book'), new_book_path
      - if user_signed_in?
        %ul.nav.secondary-nav
          %li.dropdown{ :'data-dropdown' => 'dropdown' }
            = link_to current_user.name, '#', :class => 'dropdown-toggle'
            %ul.dropdown-menu
              %li= link_to t(".logout"), destroy_user_session_path, :method => :delete
        - else
          %p.pull-right
            = link_to t('.login'), new_user_session_path
            %span= t(".or")
            = link_to t('.register'), new_user_registration_path
