= simple_form_for order, :remote => request.xhr?, :html => { :class => "form-stacked", :id => 'new-order' } do |f|
  .row
    = f.simple_fields_for :anonymous_user do |user|
      .span4= user.input :name, :input_html => { :class => :span4 }, :required => false
    .span2= f.input :from, :as => :calendar, :input_html => { :class => :span2 }, :label => t('.from')
    .span2= f.input :due, :as => :calendar, :input_html => { :class => :span2 }, :label => t('.to')
  .row
    = f.simple_fields_for :anonymous_user do |user|
      .span4= user.input :email, :input_html => { :class => :span4 }
      .span4= user.input :phone, :input_html => { :class => :span4 }
  .row
    .span4= f.input :notes, :input_html => { :class => :span4 }
    .span4.submit
      = hidden_field_tag 'order[copy_id]', @copy.id
      = f.button :submit, :class => "btn success"
      =# link_to t('.cancel'), '#', :class => "btn cancel"
