%tr{ :id => "book-#{book.id}"}
  %td.title= link_to book.title, edit_book_path(book)
  %td.author= book.author
  %td.category= book.category.name if book.category.present?
  - if can? :manage, :all
    %td.available= available_copies(book)
    %td.unavailable= unavailable_copies(book)
  %td
    = link_to t('.borrow'), borrow_book_path(book), :class => 'btn primary', :rel => :facebox
  %td.copies-count= copies_count(book)
  - if can? :manage, :all
    %td.destroy= link_to 'Usuń', book, :confirm => 'Czy jesteś pewien?', :method => :delete
