%table.list.books
  %thead
    %tr
      %th.title= t('.title')
      %th.author= t('.author')
      %th.category= t('.category')
      - if can? :manage, :all
        %th.available= t('.available')
        %th.unavailable= t('.borrowed')
        %th.unavailable= t('.reserved')
      %th.copies-count= t('.copies_count')
      %th.reserve
        = t('.reserve')
      - if can? :manage, :all
        %th.destroy= t('.destroy')
  %tbody
    = render :partial => 'book', :collection => @books
