#borrow-book
  %h2= @book.title
  %hr

  = simple_form_for :orders_builder, :url => orders_path, :remote => request.xhr? do |f|
    = f.simple_fields_for :order, @order do |f|
      = f.input :book_id, :as => :hidden
    = link_to t('.have_account_html'), '#', :rel => :facebox
    = f.simple_fields_for :user, @user do |f|
      = f.input :email
      = f.input :password, :required => true
    = f.submit :class => 'btn primary', :name => 'login'

  %hr
  = simple_form_for :orders_builder, :url => orders_path, :remote => request.xhr? do |f|
    = link_to t('.want_account_html'), '#'
    = f.simple_fields_for :user, @user do |f|
      = f.input :name, :required => true, :autofocus => true
      = f.input :email, :required => true, :autofocus => true
      = f.input :phone, :required => false, :autofocus => true
      = f.input :password, :required => true
      = f.input :password_confirmation, :required => true
    = f.submit :class => 'btn primary', :name => 'register'
    %hr
    = link_to t('.dont_want_account_html'), '#'
    %hr



  .row
    .span4
      %dl
        %dt= t('.title')
        %dd= @book.title
        %dt= t('.author')
        %dd= @book.author
    .span4
      %dl
        %dt= t('.category')
        %dd= @book.category
        %dt= t('.details')
        %dd= @book.details.present? ? @book.details : t('none')
